  <%= form_for([@contact, @fact]) do |f| %>

  <div class="field">
    <%= f.label :fact %><br>
    <%= f.text_field :fact %>
  </div><br>

  <div class='actions'>
    <%= f.submit "Add Fact" %>
  </div>

<% end %>