<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User Id</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.user_id %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<%= link_to "New Contact", new_contact_path %>