<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= link_to "Display", contact %></td>
        <!-- <td> link_to "Add Fact", new_contact_fact_path(contact)</td> -->
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to "New Contact", new_contact_path %>