<div class='row small-10 centered'>
  <div>
    <h1>New Contact</h1>
      <%= render 'contact_form' %>
    </div>
    <br>
  <%= link_to "Back", contacts_path %>
</div>

<div class='row'>
  <div id="map-canvas" class='small-3 collumns small-centered collumns'/>
</div>