<div class='row'>

  <div class='small-12 columns large-6 columns'>
    <h1>New Contact</h1>
      <%= render 'contact_form' %>
  </div>

  <div class='small-10 columns large-6 columns left'>
    <div id="map-new-contact"></div>
  </div>

</div>

