<!DOCTYPE html>
<html>
  <head></head>
  <body>

      Hello,

      You met '<%= @contact.name.capitalize %>' exactly 3 days ago.

      Maybe it would be a good idea to follow up with them or send them a message?

      <h1><%= @contact.name.capitalize %></h1>

      <% @contact.facts.each do |fact| %>
        <h4><%= fact.fact %></h4>
      <% end %>

      <div>
        <p>Happy Contact Caking.</p>
        <p>From,</p>
        <p>The Contact Cake Admin Team</p>
      </div>

  </body>
</html>