Hello,

You met '<%= @contact.name.capitalize %>' exactly one week ago today.

Maybe it would be a good idea to follow up with them or send them a message?

<h1><%= @contact.name.capitalize %></h1>

<div>
  <p>Happy Contact Caking.</p>
  <p>From,</p>
  <p>The Contact Cake Admin Team</p>
</div>